django==5.2.*
psycopg2-binary
dj-database-url
python-dotenv
psycopg2-binary
groq
langchain_community
langchain_qdrant
langchain_groq
langgraph
fastembed
qdrant-client
groq
requests
Pillow
djangorestframework
django-cors-headers
scikit-learn
librosa
langchain-core 
pydantic 
django-redis